<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>URL Shortner</h1>

    <% if (locals.id) { %>
    <p>Your URL: <a href="http://localhost:8000/<%= id %>">http://localhost:8000/<%= id %></a></p>
    <% } %>

    <form action="/url" method="POST">
        <input type="text" name="url" placeholder="https://example.com" />
        <input type="submit">
    </form>

</body>

</html>